@charset "utf-8";
#butToTop {
  position:fixed;
  bottom:1rem;
  right:1rem;
  display:none;
  cursor:pointer;
  font-family:Glyphicons Halflings;
  font-size:1.5rem;
  padding-left:0.5rem;
  padding-right:0.5rem;
  padding-top:0.125rem;
  padding-bottom:0.125rem;
  color:#006343;
  background:#f7f7f7;
  border:1px solid #ccc;
  border-radius:0.3rem;
  z-index:2000;
}
